$headerHeight: 60px;
$decorateColor: #009688;
$checkedColor: #5fb878;
$darkNavColor: #393D49;
$brightColor: #1E9FFF;
$warningColor: #F7b824;
$dangerColor: #FF5722;
$infoColor: #01AAED;
$gray1: #fbfbfb;
$gray2: #f2f2f2;
$gray3: #eeeeee;
$gray4: #dddddd;
$gray5: #d2d2d2;
$gray6: #c2c2c2;

.error {
  border: 1px solid $dangerColor;
}

.error-msg {
  margin-top: 10px;
  display: block;
  border: 1px solid #fbd9d0;
  background-color: #fdece8;
  padding: 8px 48px 8px 16px;
  border-radius: 6px;
  color: #495060;
  font-size: 12px;
  line-height: 16px;
  box-sizing: border-box;
}
body {
  color: #3f3f3f;
  background: $gray1;
  font: 14px "open sans", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, sans-serif;
  /*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
  &::-webkit-scrollbar {
    width: 5px;
    height: 4px;
    background-color: #f5f5f5;
  }
  /*定义滚动条的轨道，内阴影及圆角*/
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px $gray6;
    border-radius: 8px;
    background-color: #f5f5f5;
  }
  /*定义滑块，内阴影及圆角*/
  &::-webkit-scrollbar-thumb {
    /*width: 10px;*/
    height: 8px;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 1px $brightColor;
    background-color: $decorateColor;
  }
}
.main-content {
  width: 85%;
  margin: 0 auto;
}
.content {
  padding: 30px 10px 20px 10px;
}
.footer {
  border-top: 1px solid $gray6;
  line-height: 1.6em;
  font-size: .85em;
  padding: 1rem;
  .view-num {
    color: #0097a7;
    font-weight: 700;
    font-size: 1.2em;
    padding: 0 5px;
  }
  #footer-info {
    margin: 0 auto;
    text-align: center;
  }
  a {
    color: #38b7ea;
    text-decoration: none;
  }
}
.clearfix {
  *zoom: 1;
  &:before, &:after {
    display: table;
    line-height: 0;
    content: "";
  }
  &:after {
    clear: both;
  }
}
.division {
  display: block;
  margin-top: 20px;
  border-bottom: 1px dashed #dfdfdf;
}
input {
  height: 32px;
  box-sizing: border-box;
  line-height: 1.5;
  padding: 4px 7px;
  font-size: 12px;
  border: 1px solid #d7dde4;
  border-radius: 4px;
  color: #657180;
  background: #fff none;
  cursor: text;
  display: inline-block;
  width: 100%;
  transition: border .2s ease-in-out, background .2s ease-in-out, box-shadow .2s ease-in-out;
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgba(51, 153, 255, .2);
    border-color: #5cadff;
  }
}
button {
  outline: 0;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid #d7dde4;
  white-space: nowrap;
  line-height: 1.5;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 6px 15px;
  font-size: 12px;
  border-radius: 4px;
  transform: translateZ(0);
  transition: color .2s linear, background-color .2s linear, border .2s linear;
  color: #657180;
  background: #f7f7f7 none;
  text-align: center;
}
.btn-success {
  color: #fff;
  background-color: #0c6;
  border-color: #0c6;
  &:hover {
    background-color: #33d685;
    border-color: #33d685;
  }
  i {
    word-spacing: 0.2rem;
  }
}
.btn-info {
  color: #fff;
  background-color: #2db7f5;
  border-color: #2db7f5;
  &:hover {
    background-color: #57c5f7;
    border-color: #57c5f7;
  }
}
.btn-text {
  color: #657180;
  background-color: transparent;
  border-color: transparent;
  &:hover {
    color: #3091f2;
    background-color: transparent;
    border-color: transparent;
  }
}
.mt-15 {
  margin-top: 15px;
}
a {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}
/*   .fa {
          display: inline-block;
          width: 16px;
          height: 16px;
          margin-top: -5px;
      }
      .fa-eye{
          background: url("./assets/img/view.png") no-repeat center;
      }
      .fa-calendar {
          background: url("./assets/img/calendar.png") no-repeat center;
      }

      .fa-tags {
          background: url("./assets/img/tags.png") no-repeat center;
      }

      .fa-comments {
          background: url("./assets/img/comments.png") no-repeat center;
      }

      .fa-thumbs-up {
          background: url("./assets/img/thumb.png") no-repeat center;
      }
      .fa-article{
          background: url("./assets/img/article.png") no-repeat center;
      }
      .fa-github{
          width: 30px;
          height: 30px;
          background: url("./assets/img/github.png") no-repeat center;
      }
      .fa-envelope{
          background: url("./assets/img/envelope.png") no-repeat center;
          width: 30px;
          height: 30px;
      }
      .fa-weixin{
          background: url("./assets/img/weixin-icon.png") no-repeat center;
          width: 30px;
          height: 30px;
      }*/