$headerHeight: 60px;
$decorateColor: #009688;
$checkedColor: #5fb878;
$darkNavColor: #393D49;
$brightColor: #1E9FFF;
$warningColor: #F7b824;
$dangerColor: #FF5722;
$infoColor: #01AAED;
$gray1: #fbfbfb;
$gray2: #f2f2f2;
$gray3: #eeeeee;
$gray4: #dddddd;
$gray5: #d2d2d2;
$gray6: #c2c2c2;